.todo{
    max-width: 500px;
    width: 100%;
    margin: 2rem;
}

.authorization-button{
    max-width: 400px;
    width: 100%;
    margin-bottom: 1rem;
}

.btn-authorization{
    max-width: 120px;
    width: 100%;
}

.mask{
    width: 100%;
}
.form-entry{
    display: none!important;
}

.container-hidden{
    display: none!important;
}

.form-registration{
    display: none!important;
}

.form-active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: white;
}

.card button {
    margin: 0.5rem;
}

header img{
    width: 40px;
    height: 40px;
}